<%-include("./partials/header.ejs")%>

   <div class="container">
       <div class="row">
           <div class="clo-md-9">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ajouter un livre
                  </button>
               </div>
               <h1><%= title %></h1>
              
           </div>
          
       </div>
   </div>

 <%-include("./partials/footer.ejs")%>
