<%-include("./partials/header.ejs")%>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolorem itaque reiciendis corporis vero similique perferendis a, sunt iste odio fugit numquam tenetur quod aliquam cumque veniam beatae impedit deleniti!</h1>
<%-include("./partials/footer.ejs")%>