<%-include("./partials/header.ejs")%>
 <div class="container">
  <!--<h1><%= title %></h1>-->
  <br><br><br>
  <div class="card bg-dark text-white">
    <img src="..." class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
  <br><br><br><br>
 </div>
 <br><br><br><br><br>
 <div class="container2">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="container">
                    <div class="row">
                       
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">L’Art de la Méditation</h5>
                                  <p class="card-text">Résumé du livre de Matthieu Ricard L’Art de la Méditation : La méditation, outre de nombreux effets bénéfiques prouvés par des études scientifiques variées, permet de se développer notre compréhension des mécanismes de notre esprit, de mieux appréhender la réalité, d’être moins prisonnier de nos émotions et d’être plus libre, et donc d’atteindre une plénitude et un bonheur véritable ; le livre L’Art de la Méditation nous prend par la main pour nous enseigner de manière simple différentes méthodes pour apprendre à méditer et parvenir progressivement à devenir un meilleur nous-même

                                    L’Art de la Méditation de Matthieu Ricard, 2008, 150 pages..</p>
                                  <a href="/views/details.ejs" class="btn btn-primary">Afficher le livre</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Comment être en bonne santé et vivre longtemps</h5>
                                  <p class="card-text">Les meilleures astuce pour vivre longtemps et en bonne santé
                                    Plusieurs lecteurs m’ont indiqué que la chronique de Serons-nous immortels ? est intéressante, mais qu’il serait bien d’avoir une synthèse des conseils concrets proposés par ce livre pour vivre longtemps tout en profitant d’une excellente forme physique, étant donné la taille de celui-ci et de la chronique. C’est chose faite avec ces 10 astuces santé qui pourront faire une différence énorme dans votre vie si vous les appliquez jour après jour, car il n’y a rien de plus puissant pour construire quelque chose que de le faire brique après brique, jour après jour.</p>
                                  <a href="/books" class="btn btn-primary">Afficher le livre</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
 </div>
   
<br><br><br>

 <div class="container2">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Special title treatment</h5>
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                  <a href="#" class="btn btn-primary">Afficher le livre</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Special title treatment</h5>
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                  <a href="#" class="btn btn-primary">Afficher le livre</a>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
 </div>
   
 <br><br>
 <br><br>
 <br><br>
 <br><br>
 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
 <!--list books-->
<!--
 <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>Ajouter il y a 2j</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small>And some small print.</small>
    </a>
    <br>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">ajouter il y a 1 semaine</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small class="text-muted">And some muted small print.</small>
    </a>
    <br>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">ajouter il y a 2 semaines</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small class="text-muted">And some muted small print.</small>
    </a>
    <br>

    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>

      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <br>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
      
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">ajouter il y a 2 semaines</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <br>
  </div>
-->
  <!--footer-->

  <br><br><br><br>
<!--
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">MAKTABA</h1>
      <div class="col-lg-6 mx-auto">

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
        </div>
      </div>
    </div>
  </div>
-->

<%-include("./partials/footer.ejs")%>
